In [1]:
# All  import statements needed for the notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.metrics import *

In [2]:
import tensorflow as tf
tf.config.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data = pd.read_csv('/content/drive/MyDrive/balanced_data.csv')
data.drop(data.columns[0] , inplace=True , axis=1)

In [5]:
data.Label.value_counts()

BENIGN              1296087
DoS Hulk             231073
PortScan             158930
DDoS                 128027
DoS GoldenEye         10293
FTP-Patator            7938
SSH-Patator            5897
DoS slowloris          5796
DoS Slowhttptest       5499
Bot                    1966
Infiltration             36
Heartbleed               11
Name: Label, dtype: int64

In [6]:
data.shape[0]

1851553

In [7]:
129608700/1851553 ##PERCENTAGE OF BENIGN DATA

69.99999459912841

In [8]:
ATTACKS = 1851553-1296087
ATTACKS

555466

In [9]:
## Convert the non-attack i.e. benign data to attacks no.
toremove = 1296087 -ATTACKS
toremove

740621

In [10]:
arr = data.loc[data['Label'] == 'BENIGN']
df = arr.sample(frac=1).reset_index(drop=True) ##SHUFFLE THE DATA OF BENIGN

In [11]:
data.Label.unique()

array(['BENIGN', 'Infiltration', 'DDoS', 'DoS slowloris',
       'DoS Slowhttptest', 'DoS Hulk', 'DoS GoldenEye', 'Heartbleed',
       'PortScan', 'Bot', 'FTP-Patator', 'SSH-Patator'], dtype=object)

In [12]:
att = data.loc[data['Label'] != 'BENIGN']

In [13]:
att.Label.unique()

array(['Infiltration', 'DDoS', 'DoS slowloris', 'DoS Slowhttptest',
       'DoS Hulk', 'DoS GoldenEye', 'Heartbleed', 'PortScan', 'Bot',
       'FTP-Patator', 'SSH-Patator'], dtype=object)

In [14]:
# Using drop() function to delete first n rows
df.drop(index=df.index[:toremove],axis=0, inplace=True)
df.reset_index(inplace=True)
df.head(5)

,index,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,740621,110933,1546,64824,1902,32780,6,134,1,2,...,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
1,740622,36715,2181,443,2746,39240,6,1741,64,1,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
2,740623,60299,1538,10595,1901,53,17,113,310,2,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
3,740624,81104,2143,63961,6800,443,6,394,287107,21,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
4,740625,48640,1335,54985,1593,53,17,7,46854,2,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN

In [15]:
df.Label.value_counts()

BENIGN    555466
Name: Label, dtype: int64

In [16]:
balanceddata = pd.concat([df,att])

In [17]:
balanceddata.head(5)

,index,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,740621.0,110933,1546,64824,1902,32780,6,134,1,2,...,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
1,740622.0,36715,2181,443,2746,39240,6,1741,64,1,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
2,740623.0,60299,1538,10595,1901,53,17,113,310,2,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
3,740624.0,81104,2143,63961,6800,443,6,394,287107,21,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
4,740625.0,48640,1335,54985,1593,53,17,7,46854,2,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN

In [18]:
balanceddata.drop('index', inplace=True, axis=1)

In [19]:
balanceddata.to_csv('/content/drive/MyDrive/balancedhalf_data.csv')

In [20]:
x = balanceddata.Label.value_counts().to_dict()
nonattacks = x['BENIGN']
attacks = balanceddata.shape[0] - nonattacks

In [21]:
attacks*100/balanceddata.shape[0] ## ATTACK PERCENTAGE

50.0

In [22]:
nonattacks*100/balanceddata.shape[0]

50.0

In [23]:
balanceddata.Label.unique()

array(['BENIGN', 'Infiltration', 'DDoS', 'DoS slowloris',
       'DoS Slowhttptest', 'DoS Hulk', 'DoS GoldenEye', 'Heartbleed',
       'PortScan', 'Bot', 'FTP-Patator', 'SSH-Patator'], dtype=object)

In [24]:
balanceddata.shape

(1110932, 84)