In [1]:
# importing required libraries
import numpy as np
import pandas as pd

In [2]:
import tensorflow as tf
tf.config.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [3]:
#FOLDER = '/content/drive/MyDrive/'
#FOLDER = 'C:\Users\Admin\Downloads\'

In [4]:
#from google.colab import drive
#drive.mount('/content/drive')

In [5]:
data = pd.read_csv(r"C:\Users\Admin\Downloads\balanced_data.csv")

In [6]:
data.drop(data.columns[0] , inplace=True , axis=1)

# Removing Some layers for Unknown Label

In [7]:
data.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,35929,2100,443,2744,49916,6,14653,65,3,1,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
1,195043,2210,52673,2608,53,17,160,91765,2,2,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
2,58449,1337,45245,1593,53,17,27,295,2,2,...,40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
3,70012,696,58208,865,53,17,80,53034,4,2,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
4,31918,2777,443,1590,50506,6,119,71,1,1,...,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN

In [8]:
data.Label.value_counts().to_dict()

{'BENIGN': 1296087,
 'DoS Hulk': 231073,
 'PortScan': 158930,
 'DDoS': 128027,
 'DoS GoldenEye': 10293,
 'FTP-Patator': 7938,
 'SSH-Patator': 5897,
 'DoS slowloris': 5796,
 'DoS Slowhttptest': 5499,
 'Bot': 1966,
 'Infiltration': 36,
 'Heartbleed': 11}

In [9]:
5897+5796+5499+1966+36+11

19205

In [10]:
len(data)

1851553

In [11]:
1851553-19205

1832348

In [12]:
1920500/1851553 #percentage of data we will be using for threshold for unknown label :)

1.0372373893698965

In [13]:
toremove = ['SSH-Patator','DoS slowloris','DoS Slowhttptest','Bot','Infiltration','Heartbleed']
att = data.loc[(data['Label'].isin(toremove))]

In [14]:
att

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
1296087,177144,1546,53966,2293,444,6,79,42664070,5,6,...,20,0.0,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,Infiltration
1296088,177144,1546,53966,2293,444,6,79,2030,2,0,...,20,0.0,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,Infiltration
1296089,177145,1546,54119,2293,444,6,88,119991834,5523,5525,...,20,997842.0,831471.3076,1585781.0,409903.0,8143987.5,1821773.648,9432176.0,6855799.0,Infiltration
1296090,177146,1546,54122,2293,444,6,90,5005212,15,15,...,28,0.0,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,Infiltration
1296091,177145,1546,54119,2293,444,6,90,119973135,4376,4374,...,20,0.0,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,Infiltration
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1851548,9072,1495,46280,2560,22,6,249,13609590,22,32,...,32,0.0,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,SSH-Patator
1851549,9077,1495,46290,2560,22,6,249,13653780,22,33,...,32,0.0,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,SSH-Patator
1851550,9075,1495,46286,2560,22,6,249,13681270,22,33,...,32,0.0,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,SSH-Patator
1851551,9071,1495,46278,2560,22,6,249,13625617,22,33,...,32,0.0,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,SSH-Patator
1851552,9074,1495,46284,2560,22,6,249,13652185,22,33,...,32,0.0,0.0000,0.0,0.0,0.0,0.000,0.0,0.0,SSH-Patator

In [15]:
att.Label.unique()

array(['Infiltration', 'DoS slowloris', 'DoS Slowhttptest', 'Heartbleed',
       'Bot', 'SSH-Patator'], dtype=object)

In [16]:
data.drop(att.index,axis=0 , inplace=True, errors='ignore')

In [17]:
data.Label.unique()

array(['BENIGN', 'DDoS', 'DoS Hulk', 'DoS GoldenEye', 'PortScan',
       'FTP-Patator'], dtype=object)

In [18]:
data.shape

(1832348, 84)

## Normalization On Data
# **Data Normalization**

In [19]:
# importing required libraries for normalizing data
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [20]:
# selecting numeric attributes columns from data
numeric_col = data.select_dtypes(include='number').columns

In [21]:
# using standard scaler for normalizing
std_scaler = MinMaxScaler()
def normalization(df,col):
  for i in col:
    arr = df[i]
    arr = np.array(arr)
    df[i] = std_scaler.fit_transform(arr.reshape(len(arr),1))
  return df
# calling the normalization() function
data = normalization(data.copy(),numeric_col)

In [22]:
# data after normalization
data.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.144170,0.254947,0.006760,0.282974,0.761669,0.352941,0.563685,6.416666e-07,0.000009,0.000003,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
1,0.782639,0.268302,0.803738,0.268949,0.000809,1.000000,0.006155,7.648083e-04,0.000005,0.000007,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
2,0.234535,0.162316,0.690394,0.164278,0.000809,1.000000,0.001039,2.558333e-06,0.000005,0.000007,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
3,0.280934,0.084497,0.888197,0.089203,0.000809,1.000000,0.003078,4.420500e-04,0.000014,0.000007,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN
4,0.128076,0.337137,0.006760,0.163968,0.770672,0.352941,0.004578,6.916666e-07,0.000000,0.000003,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,BENIGN

# **One-hot-encoding**

In [23]:
# selecting numeric attributes columns from data
non_numeric_col = data.select_dtypes(exclude='number').columns

In [24]:
# creating a dataframe with only categorical attributes
categorical = data[non_numeric_col]
categorical.head()

    Label
0  BENIGN
1  BENIGN
2  BENIGN
3  BENIGN
4  BENIGN

In [25]:
# one-hot-encoding categorical attributes using pandas.get_dummies() function
categorical = pd.get_dummies(categorical,columns=non_numeric_col)
categorical.head()

,Label_BENIGN,Label_DDoS,Label_DoS GoldenEye,Label_DoS Hulk,Label_FTP-Patator,Label_PortScan
0,1,0,0,0,0,0
1,1,0,0,0,0,0
2,1,0,0,0,0,0
3,1,0,0,0,0,0
4,1,0,0,0,0,0

In [26]:
X = data.drop('Label' , axis=1)

In [27]:
X.head(1)

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,act_data_pkt_fwd,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
0,0.14417,0.254947,0.00676,0.282974,0.761669,0.352941,0.563685,6.416666e-07,0.000009,0.000003,...,0.000009,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
y = categorical

In [29]:
y.head(1)

,Label_BENIGN,Label_DDoS,Label_DoS GoldenEye,Label_DoS Hulk,Label_FTP-Patator,Label_PortScan
0,1,0,0,0,0,0

https://glassboxmedicine.com/2019/05/26/classification-sigmoid-vs-softmax/#:~:text=The%20probabilities%20produced%20by%20a%20softmax%20will%20always%20sum%20to,decrease%20by%20an%20equivalent%20amount.

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

#  Convolutional Neural Networks

In [31]:
X_train.shape , y_train.shape , X_test.shape

((1227673, 83), (1227673, 6), (604675, 83))

In [32]:
X_train = X_train.to_numpy().reshape(-1, 83,1)
X_test = X_test.to_numpy().reshape(-1, 83,1)

## Model Training

In [33]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense,Dropout,LSTM,Embedding,SimpleRNN, GRU,Activation,Flatten
from tensorflow.keras.layers import Conv1D,MaxPool1D, Flatten
from tensorflow.keras.utils import plot_model
from tensorflow.keras.preprocessing import sequence
from sklearn.metrics import (precision_score, recall_score,confusion_matrix,f1_score, accuracy_score,mean_squared_error,mean_absolute_error)
import pandas as pd
from tensorflow.keras import callbacks
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau, CSVLogger
import matplotlib.pyplot as plt

In [34]:
model_cnn = Sequential()
model_cnn.add(Conv1D(64, 3, padding="same",activation="relu",input_shape=(83, 1)))
model_cnn.add(Conv1D(64, 3, padding="same", activation="relu"))
model_cnn.add(MaxPool1D(pool_size=(2)))
model_cnn.add(Conv1D(128, 3, padding="same", activation="relu"))
model_cnn.add(Conv1D(128, 3, padding="same", activation="relu"))
model_cnn.add(MaxPool1D(pool_size=(2)))
model_cnn.add(Flatten())
model_cnn.add(Dense(128, activation="relu"))
model_cnn.add(Dropout(0.5))
model_cnn.add(Dense(6, activation="sigmoid"))

In [35]:
model_cnn.compile(loss="binary_crossentropy", optimizer="adam",metrics=['accuracy'])
es = EarlyStopping(monitor='val_accuracy', mode='max', min_delta=0.0001,patience=5) ## early stoppoing

#FIT AND SAVE MODEL FOR FUTURE
model_cnn.fit(X_train, y_train, epochs=1000,validation_data=(X_test, y_test),callbacks=[es])
model_cnn.save("model_split_cnn_model.hdf5")

Epoch 1/1000
38365/38365 [==============================] - 292s 7ms/step - loss: 0.0041 - accuracy: 0.9965 - val_loss: 0.0017 - val_accuracy: 0.9987
Epoch 2/1000
38365/38365 [==============================] - 253s 7ms/step - loss: 9.8722e-04 - accuracy: 0.9994 - val_loss: 3.8236e-04 - val_accuracy: 0.9998
Epoch 3/1000
38365/38365 [==============================] - 254s 7ms/step - loss: 7.3200e-04 - accuracy: 0.9996 - val_loss: 2.5611e-04 - val_accuracy: 0.9999
Epoch 4/1000
38365/38365 [==============================] - 254s 7ms/step - loss: 6.7646e-04 - accuracy: 0.9996 - val_loss: 0.0014 - val_accuracy: 0.9994
Epoch 5/1000
38365/38365 [==============================] - 252s 7ms/step - loss: 6.9236e-04 - accuracy: 0.9996 - val_loss: 3.6131e-04 - val_accuracy: 0.9998
Epoch 6/1000
38365/38365 [==============================] - 253s 7ms/step - loss: 7.6014e-04 - accuracy: 0.9996 - val_loss: 6.0793e-04 - val_accuracy: 0.9998
Epoch 7/1000
38365/38365 [==============================] - 638s 17ms/step - loss: 8.4343e-04 - accuracy: 0.9996 - val_loss: 5.1238e-04 - val_accuracy: 0.9998