In [1]:
# importing required libraries
import numpy as np
import pandas as pd

In [2]:
import tensorflow as tf
tf.config.list_physical_devices('GPU')

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [3]:
#FOLDER = '/content/drive/MyDrive/'

In [4]:
#from google.colab import drive
#drive.mount('/content/drive')

In [5]:
data = pd.read_csv(r"C:\Users\Admin\Downloads\balanced_data.csv")

In [6]:
data.drop(data.columns[0] , inplace=True , axis=1)

Make Benign = NonAttack and others as attack

In [7]:
x = data.Label.unique().tolist()
x

['BENIGN',
 'Infiltration',
 'DDoS',
 'DoS slowloris',
 'DoS Slowhttptest',
 'DoS Hulk',
 'DoS GoldenEye',
 'Heartbleed',
 'PortScan',
 'Bot',
 'FTP-Patator',
 'SSH-Patator']

In [8]:
value = ['attack']*12
value[0] = 'nonattack'
value

['nonattack',
 'attack',
 'attack',
 'attack',
 'attack',
 'attack',
 'attack',
 'attack',
 'attack',
 'attack',
 'attack',
 'attack']

In [9]:
data.Label.replace(to_replace=x , value=value, inplace=True)

## Normalization On Data
# **Data Normalization**

In [10]:
# importing required libraries for normalizing data
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [11]:
# selecting numeric attributes columns from data
numeric_col = data.select_dtypes(include='number').columns

In [12]:
# using standard scaler for normalizing
std_scaler = MinMaxScaler()
def normalization(df,col):
  for i in col:
    arr = df[i]
    arr = np.array(arr)
    df[i] = std_scaler.fit_transform(arr.reshape(len(arr),1))
  return df
# calling the normalization() function
data = normalization(data.copy(),numeric_col)

In [13]:
# data after normalization
data.head()

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.144170,0.254947,0.006760,0.282974,0.761669,0.352941,0.563685,6.416666e-07,0.000009,0.000003,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nonattack
1,0.782639,0.268302,0.803738,0.268949,0.000809,1.000000,0.006155,7.648083e-04,0.000005,0.000007,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nonattack
2,0.234535,0.162316,0.690394,0.164278,0.000809,1.000000,0.001039,2.558333e-06,0.000005,0.000007,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nonattack
3,0.280934,0.084497,0.888197,0.089203,0.000809,1.000000,0.003078,4.420500e-04,0.000014,0.000007,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nonattack
4,0.128076,0.337137,0.006760,0.163968,0.770672,0.352941,0.004578,6.916666e-07,0.000000,0.000003,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,nonattack

# **One-hot-encoding**

In [14]:
# selecting numeric attributes columns from data
non_numeric_col = data.select_dtypes(exclude='number').columns

In [15]:
# creating a dataframe with only categorical attributes
categorical = data[non_numeric_col]
categorical.head()

       Label
0  nonattack
1  nonattack
2  nonattack
3  nonattack
4  nonattack

In [16]:
# one-hot-encoding categorical attributes using pandas.get_dummies() function
categorical = pd.get_dummies(categorical,columns=non_numeric_col)
categorical.head()

   Label_attack  Label_nonattack
0             0                1
1             0                1
2             0                1
3             0                1
4             0                1

In [17]:
X = data.drop('Label' , axis=1)

In [18]:
X.head(1)

,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,Total Backward Packets,...,act_data_pkt_fwd,min_seg_size_forward,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
0,0.14417,0.254947,0.00676,0.282974,0.761669,0.352941,0.563685,6.416666e-07,0.000009,0.000003,...,0.000009,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
y = categorical

In [20]:
y.head(1)

   Label_attack  Label_nonattack
0             0                1

https://glassboxmedicine.com/2019/05/26/classification-sigmoid-vs-softmax/#:~:text=The%20probabilities%20produced%20by%20a%20softmax%20will%20always%20sum%20to,decrease%20by%20an%20equivalent%20amount.

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

#  Convolutional Neural Networks

In [22]:
X_train.shape , y_train.shape , X_test.shape

((1240540, 83), (1240540, 2), (611013, 83))

In [23]:
X_train = X_train.to_numpy().reshape(-1, 83,1)
X_test = X_test.to_numpy().reshape(-1, 83,1)

## Model Training

In [24]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense,Dropout,LSTM,Embedding,SimpleRNN, GRU,Activation,Flatten
from tensorflow.keras.layers import Conv1D,MaxPool1D, Flatten
from tensorflow.keras.utils import plot_model
from tensorflow.keras.preprocessing import sequence
from sklearn.metrics import (precision_score, recall_score,confusion_matrix,f1_score, accuracy_score,mean_squared_error,mean_absolute_error)
import pandas as pd
from tensorflow.keras import callbacks
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau, CSVLogger
import matplotlib.pyplot as plt

In [25]:
model_cnn = Sequential()
model_cnn.add(Conv1D(64, 3, padding="same",activation="relu",input_shape=(83, 1)))
model_cnn.add(Conv1D(64, 3, padding="same", activation="relu"))
model_cnn.add(MaxPool1D(pool_size=(2)))
model_cnn.add(Conv1D(128, 3, padding="same", activation="relu"))
model_cnn.add(Conv1D(128, 3, padding="same", activation="relu"))
model_cnn.add(MaxPool1D(pool_size=(2)))
model_cnn.add(Flatten())
model_cnn.add(Dense(128, activation="relu"))
model_cnn.add(Dropout(0.5))
model_cnn.add(Dense(2, activation="sigmoid"))

In [26]:
model_cnn.compile(loss="binary_crossentropy", optimizer="adam",metrics=['accuracy'])
es = EarlyStopping(monitor='val_accuracy', mode='max', min_delta=0.0001,patience=5) ## early stoppoing

#FIT AND SAVE MODEL FOR FUTURE
model_cnn.fit(X_train, y_train, epochs=1000,validation_data=(X_test, y_test),callbacks=[es])
model_cnn.save(FOLDER+"binary_model.hdf5")

Epoch 1/1000
38767/38767 [==============================] - 614s 15ms/step - loss: 0.0102 - accuracy: 0.9969 - val_loss: 0.0013 - val_accuracy: 0.9997
Epoch 2/1000
38767/38767 [==============================] - 231s 6ms/step - loss: 0.0028 - accuracy: 0.9993 - val_loss: 0.0018 - val_accuracy: 0.9996
Epoch 3/1000
38767/38767 [==============================] - 256s 7ms/step - loss: 0.0024 - accuracy: 0.9995 - val_loss: 9.4464e-04 - val_accuracy: 0.9998
Epoch 4/1000
38767/38767 [==============================] - 253s 7ms/step - loss: 0.0024 - accuracy: 0.9995 - val_loss: 0.0017 - val_accuracy: 0.9997
Epoch 5/1000
38767/38767 [==============================] - 255s 7ms/step - loss: 0.0024 - accuracy: 0.9996 - val_loss: 0.0015 - val_accuracy: 0.9998
Epoch 6/1000
38767/38767 [==============================] - 255s 7ms/step - loss: 0.0025 - accuracy: 0.9995 - val_loss: 0.0010 - val_accuracy: 0.9998
Epoch 7/1000
38767/38767 [==============================] - 254s 7ms/step - loss: 0.0027 - accuracy: 0.9995 - val_loss: 0.0021 - val_accuracy: 0.9998
Epoch 8/1000
38767/38767 [==============================] - 255s 7ms/step - loss: 0.0028 - accuracy: 0.9995 - val_loss: 0.0029 - val_accuracy: 0.9998

NameError: name 'FOLDER' is not defined

In [27]:
model_cnn.save("binary_model.hdf5")