In [1]:
import numpy as np
import pandas as pd
import os
import cv2
import math
import random
import matplotlib.pyplot as plt
import shutil
from sklearn.preprocessing import QuantileTransformer
from PIL import Image
import warnings
warnings.filterwarnings("ignore")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#Read dataset
df=pd.read_csv('/content/drive/MyDrive/pcadata.csv')

In [4]:
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,18,19,20,21,22,23,24,25,26,Label
0,0,-3.634759e+07,-2.731521e+06,-38744.382421,-9.102812e+05,1.488298e+06,-601774.713241,-288628.199811,-177674.771568,-211877.939462,...,-35919.700881,12746.940366,-608.876690,23997.798092,-6645.309166,1795.652568,-51996.221431,-1956.509157,-4960.959558,BENIGN
1,1,-3.626597e+07,-2.722872e+06,-38307.402398,-1.656263e+06,1.469721e+06,-580657.527176,-260199.397541,-164061.224448,-187593.539686,...,-19616.181521,16254.674188,-489.082607,26914.149359,-8757.004594,16145.855547,-127267.865542,-1858.779186,-5365.627649,BENIGN
2,2,-3.634717e+07,-2.731175e+06,-38750.355066,-9.388870e+05,1.488468e+06,-601764.457588,-288570.495872,-177639.614623,-211729.480512,...,-35398.970130,12298.060648,-592.635065,21958.369399,-5867.770318,12307.586029,-114121.529494,-1907.699722,-4874.594843,BENIGN
3,3,-3.628116e+07,-2.716825e+06,-38397.053038,-1.660352e+06,1.468725e+06,-588455.033899,-268116.333956,-166589.736051,-186343.991470,...,-36435.412610,11499.630919,-585.436330,13583.069014,1012.711207,13732.791447,-125995.712993,-1683.267344,-3910.757531,BENIGN
4,4,-3.634130e+07,-2.722810e+06,-38333.914329,-1.664156e+06,1.494745e+06,-603205.453279,-289162.646044,-177922.913928,-212200.166507,...,-35584.211658,12458.681665,-611.992589,22608.174447,-6077.619714,8973.744947,-95326.817386,-2057.293849,-5189.166174,BENIGN

In [5]:
# The labels of the dataset. "R" indicates normal patterns, and there are four types of attack (DoS, fuzzy. gear spoofing, and RPM spoofing zttacks)
df.Label.value_counts()

BENIGN              1296087
DoS Hulk             231073
PortScan             158930
DDoS                 128027
DoS GoldenEye         10293
FTP-Patator            7938
SSH-Patator            5897
DoS slowloris          5796
DoS Slowhttptest       5499
Bot                    1966
Infiltration             36
Heartbleed               11
Name: Label, dtype: int64

## Data Transformation
Convert tabular data to images
Procedures:
1. Use quantile transform to transform the original data samples into the scale of [0,255], representing pixel values
2. Generate images for each category (Normal, DoS, Fuzzy, Gear, RPM), each image consists of 27 data samples with 9 features. Thus, the size of each image is 9*9*3, length 9, width 9, and 3 color channels (RGB).

In [6]:
# Transform all features into the scale of [0,1]
numeric_features = df.dtypes[df.dtypes != 'object'].index
scaler = QuantileTransformer() 
df[numeric_features] = scaler.fit_transform(df[numeric_features])

In [7]:
# Multiply the feature values by 255 to transform them into the scale of [0,255]
df[numeric_features] = df[numeric_features].apply(
    lambda x: (x*255))

In [8]:
df.describe()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,17,18,19,20,21,22,23,24,25,26
count,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,...,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06,1.851553e+06
mean,1.272377e+02,1.280228e+02,1.277231e+02,1.270968e+02,1.271711e+02,1.273975e+02,1.278763e+02,1.277320e+02,1.274455e+02,1.273874e+02,...,1.273885e+02,1.271948e+02,1.272903e+02,1.274320e+02,1.277247e+02,1.274306e+02,1.274435e+02,1.277418e+02,1.277518e+02,1.273668e+02
std,7.371005e+01,7.367986e+01,7.355667e+01,7.384735e+01,7.341446e+01,7.365790e+01,7.353552e+01,7.352789e+01,7.377063e+01,7.358242e+01,...,7.346742e+01,7.369892e+01,7.367885e+01,7.351561e+01,7.346544e+01,7.357837e+01,7.362140e+01,7.364223e+01,7.373318e+01,7.377156e+01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.338594e+01,6.421029e+01,6.416506e+01,6.272569e+01,6.381273e+01,6.379979e+01,6.443191e+01,6.417383e+01,6.341363e+01,6.371468e+01,...,6.401838e+01,6.313890e+01,6.338609e+01,6.416985e+01,6.427378e+01,6.362019e+01,6.384653e+01,6.399797e+01,6.372869e+01,6.312532e+01
50%,1.267835e+02,1.281192e+02,1.278062e+02,1.271381e+02,1.268214e+02,1.273684e+02,1.278812e+02,1.277434e+02,1.273065e+02,1.273329e+02,...,1.271384e+02,1.269673e+02,1.276028e+02,1.270131e+02,1.275924e+02,1.274769e+02,1.273239e+02,1.278008e+02,1.278747e+02,1.274936e+02
75%,1.913166e+02,1.920368e+02,1.917095e+02,1.911473e+02,1.907008e+02,1.908237e+02,1.916293e+02,1.917583e+02,1.917477e+02,1.910410e+02,...,1.907343e+02,1.912179e+02,1.911029e+02,1.910046e+02,1.911599e+02,1.910697e+02,1.914962e+02,1.915783e+02,1.917065e+02,1.914973e+02
max,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,...,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02

In [9]:
df.drop(df.columns[0],inplace=True , axis=1)

All features are in the same scale of [0,255]
### Generate images for each class

In [10]:
df.Label.unique()

array(['BENIGN', 'Infiltration', 'DDoS', 'DoS slowloris',
       'DoS Slowhttptest', 'DoS Hulk', 'DoS GoldenEye', 'Heartbleed',
       'PortScan', 'Bot', 'FTP-Patator', 'SSH-Patator'], dtype=object)

In [11]:
df0=df[df['Label']=='BENIGN'].drop(['Label'],axis=1)
df1=df[df['Label']=='Infiltration'].drop(['Label'],axis=1)
df2=df[df['Label']=='DDoS'].drop(['Label'],axis=1)
df3=df[df['Label']=='DoS slowloris'].drop(['Label'],axis=1)
df4=df[df['Label']=='DoS Slowhttptest'].drop(['Label'],axis=1)
df5=df[df['Label']=='DoS Hulk'].drop(['Label'],axis=1)
df6=df[df['Label']=='DoS GoldenEye'].drop(['Label'],axis=1)
df7=df[df['Label']=='Heartbleed'].drop(['Label'],axis=1)
df8=df[df['Label']=='PortScan'].drop(['Label'],axis=1)
df9=df[df['Label']=='Bot'].drop(['Label'],axis=1)
df10=df[df['Label']=='FTP-Patator'].drop(['Label'],axis=1)
df11=df[df['Label']=='SSH-Patator'].drop(['Label'],axis=1)

In [12]:
type(df0.iloc[0].values)

numpy.ndarray

In [13]:
type(df0)

pandas.core.frame.DataFrame

In [14]:
image_path = "/content/drive/MyDrive/train/benign/"
os.makedirs(image_path)

for i in range(0, 10):
  ims = df0.iloc[i].values.reshape(3,3,3)
  array = np.array(ims, dtype=np.uint8)      
  new_image = Image.fromarray(array)
  new_image.save(image_path+str(i)+'.png')

In [15]:
df0.iloc[0].values.reshape(3,3,3)

array([[[ 36.77410386,  69.20489401,  81.35962873],
        [177.28457372, 147.73500634, 102.96581601],
        [111.36794477, 100.38345868, 117.56458113]],

       [[ 48.24545578, 107.52750524, 121.47164109],
        [ 89.19909064, 177.96074076,  69.91276742],
        [ 98.89758527,  90.91123495, 138.09693154]],

       [[ 93.03238686, 145.90697867,  97.55174086],
        [165.97917657,  89.00669984,  55.39769891],
        [185.33392427,  96.3195527 ,  99.83769007]]])

In [15]:
image_path = "/content/drive/MyDrive/train/benign/"
os.makedirs(image_path)

for i in range(0, 10):
  ims = df0.iloc[i].values.reshape(3,3,3)
  array = np.array(ims, dtype=np.uint8)      
  new_image = Image.fromarray(array)
  new_image.save(image_path+str(i)+'.png')